<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Index Frame</title>
  <link rel="stylesheet" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/11.0.0/css/fabric.min.css" />
  <link rel="stylesheet" href="styles/reset.css">
  <link rel="stylesheet" href="styles/frame.css">
  <link rel="stylesheet" href="styles/index_frame.css">
  <link rel="stylesheet" href="styles/main.css">
</head>
<body>
<header>

</header>
<main role="main">
  <header id="banner">
    <div class="text_content">
      <h1><span>Welcome</span></h1>
      <h2><span>What can be today?</span><br/><span>What will be tomorrow?</span></h2>
    </div>
    <div role="img"></div>
  </header>
  <nav class="image_nav">
    <a class="image_button" href="#" title="#"><div role="img"></div>
    </a><a class="image_button" href="#" title="#"><div role="img"></div>
    </a><a class="image_button" href="#" title="#"><div role="img"></div>
    </a><a class="image_button" href="#" title="#"><div role="img"></div></a>
  </nav>
</main>
<footer id="site_foot">
  <small>&copy; 2020 Lex von Biedenfeld.</small>
  <small>Last updated <time datetime="2020-03-06">Mar 6, 2019</time>.</small>
</footer>
<style>
  h1 > span {
    width: 100px;
  }
</style>
</body>
</html>