*, *::after, *::before {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    height: 100%;
    font-size: 16px;
}
body {
    margin: 0;
    width: 100%; min-height: 100%;
}
h1, h2, h3 { margin: 0; }
h1 { font-size: 4rem; }
h2 { font-size: 3rem; }
small { font-size: 0.75rem; }
p { font-size: 1rem; }

img { display: inline-block; }
button, button:active, button:hover, button:focus, button:enabled {
    border-radius: 0;
    border: none;
}