<<<<<<< HEAD
:root {
	--gradient: linear-gradient(90deg, #ee6352, purple, #ee6352);
  }
  /*
  * {
	  outline: black 1px solid;
  }*/
  .bg-gradient {
	  background: linear-gradient(45deg, black 5%, transparent, purple 70%),
		  blue;
	  height: 600px;
	  padding: 150px;
  }
  .small-radial {
	  position: absolute;
	  left: 80%;
	  top: 20%;
	  height: 100px;
	  width: 100px;
	  background: radial-gradient(circle, red, transparent 75%) center no-repeat;
	  border-radius: 50%;
	  background-size: 200%;
	  animation: pulse 10s infinite alternate;
  }
  .big-radial {
	  position: absolute;
	  left: 73%;
	  top: 21%;
	  height: 250px;
	  width: 250px;
	  border-radius: 50%;
	  background: radial-gradient(circle, rgba(0,255,0,0.8), transparent 75%) center no-repeat;
	  background-size: 200%;
	  animation: pulse 10s infinite alternate-reverse;
  }
  section {
	  font: 1em sans-serif;
	  color: white;
	  width: 400px;
	  margin: 0 auto;
	  padding: 16px;
	  border-radius: 8px;
	  background: #0000005f;
  }
  h2 {
	  font-size: 2em;
  }
  @keyframes pulse{
	from {
	  background-size: 60% 60%;
	}
	to {
	  background-size: 100% 100%;
	}
=======
:root {
	--gradient: linear-gradient(90deg, #ee6352, purple, #ee6352);
  }
  /*
  * {
	  outline: black 1px solid;
  }*/
  .bg-gradient {
	  background: linear-gradient(45deg, black 5%, transparent, purple 70%),
		  blue;
	  height: 600px;
	  padding: 150px;
  }
  .small-radial {
	  position: absolute;
	  left: 80%;
	  top: 20%;
	  height: 100px;
	  width: 100px;
	  background: radial-gradient(circle, red, transparent 75%) center no-repeat;
	  border-radius: 50%;
	  background-size: 200%;
	  animation: pulse 10s infinite alternate;
  }
  .big-radial {
	  position: absolute;
	  left: 73%;
	  top: 21%;
	  height: 250px;
	  width: 250px;
	  border-radius: 50%;
	  background: radial-gradient(circle, rgba(0,255,0,0.8), transparent 75%) center no-repeat;
	  background-size: 200%;
	  animation: pulse 10s infinite alternate-reverse;
  }
  section {
	  font: 1em sans-serif;
	  color: white;
	  width: 400px;
	  margin: 0 auto;
	  padding: 16px;
	  border-radius: 8px;
	  background: #0000005f;
  }
  h2 {
	  font-size: 2em;
  }
  @keyframes pulse{
	from {
	  background-size: 60% 60%;
	}
	to {
	  background-size: 100% 100%;
	}
>>>>>>> 7157ef2 (Update layouts and styles (#17))
  }