<<<<<<< HEAD
div {
	background-color: #000;
	width: 900px;
	height: 600px;
  }
  .g {
	background: radial-gradient(circle at 80% 55%, red 2%, transparent 10%) center no-repeat,
	  radial-gradient(circle at 73% 70%, rgba(0,255,0,0.8), transparent 20%) center no-repeat,
	  linear-gradient(45deg, black 5%, transparent, purple 70%),
	blue;
  }
  .a {
	animation: pulse 10s infinite alternate-reverse; 
  }
  @keyframes pulse{
	from {
	  background-size: 60% 60%, 60% 60%, 100% 100%, 100% 100%;
	}
	to {
	  background-size: 100% 100%, 100% 100%, 100% 100%, 100% 100%;
	}
=======
div {
	background-color: #000;
	width: 900px;
	height: 600px;
  }
  .g {
	background: radial-gradient(circle at 80% 55%, red 2%, transparent 10%) center no-repeat,
	  radial-gradient(circle at 73% 70%, rgba(0,255,0,0.8), transparent 20%) center no-repeat,
	  linear-gradient(45deg, black 5%, transparent, purple 70%),
	blue;
  }
  .a {
	animation: pulse 10s infinite alternate-reverse; 
  }
  @keyframes pulse{
	from {
	  background-size: 60% 60%, 60% 60%, 100% 100%, 100% 100%;
	}
	to {
	  background-size: 100% 100%, 100% 100%, 100% 100%, 100% 100%;
	}
>>>>>>> 7157ef2 (Update layouts and styles (#17))
  }