---
import Layout from '@layouts/Default.astro';
import Card from '@components/Card.astro';

const title = 'Contact Me';
---

<Layout title={title}>
	<section>
		<h1>{title}</h1>
		<Card title="Hello &amp; welcome!" subtitle="Hello again" image="/images/test-avatar1.jpg">
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia modi nemo ab labore, magnam cumque nisi vel minus. Vitae earum doloremque excepturi cum fuga a magni deserunt perferendis quos molestiae.</p>
		</Card>
		<Card title="Lex von Biedenfeld" subtitle="Sr. Cloud Architect" image="/images/test-avatar1.jpg">
			<p>Hi there! I'm a Houston-based consultant at Accenture and I have a passion for helping clients transform their businesses with the power of cloud computing.
				Whether it's AWS, Azure, Google Cloud, or any other platform, I have the skills and experience to design, implement, and optimize cloud solutions that meet the needs of clients.</p><br/>
			<p>I believe that cloud computing is not only a technological trend, but also a strategic advantage that can enhance security, reduce costs, and enable innovation.
				That's why I aspire to leverage cloud offerings to increase the security, cost-effectiveness, and fluidity of business processes. If you're looking for a cloud expert who can deliver results with enthusiasm and professionalism, look no further than me!</p>
		</Card>
		<div class="icon">
			<img src="/assets/images/linkedin.svg" alt="" >
			<img src="/assets/images/linkedin-in.svg" alt="" >
			<img src="/assets/images/github.svg" alt="" >
		</div>
	</section>
</Layout>

<style>
	.icon {
		padding: 20px;
		max-width: 120px;
		color: white;
		background-color: white;
	}
</style>