---
import Layout from '@layouts/Default.astro';

import Hero from '@components/Hero.astro';
import Card from '@components/Card.astro';
import CTA from '@components/CTA.astro';
import Icon from '@components/Icon.astro';

const title = 'Home';

const USER_AVATAR = 'https://avatars.githubusercontent.com/u/58815784?v=4';
// await fetch('https://api.github.com/users/avonbied')
// 	.then(response => response.json())
// 	.then(json => json.avatar_url)
---

<Layout title={title}>
	<section style={{ paddingTop: '2rem' }}>
	<!--
		<Hero title="About"
		tagline="Thanks for stopping by. Read below if you want to learn more about myself and my background.">
		<img src="/assets/at-work.jpg" alt="" />
	</Hero> -->
		<Card title="Lex von Biedenfeld" subtitle="Sr. Cloud Architect" image={USER_AVATAR}>
			<p>Hi there! I'm a Houston-based consultant at Accenture and I have a passion for helping clients transform their businesses with the power of cloud computing.
				Whether it's AWS, Azure, Google Cloud, or any other platform, I have the skills and experience to design, implement, and optimize cloud solutions that meet the needs of clients.</p><br/>
			<p>I believe that cloud computing is not only a technological trend, but also a strategic advantage that can enhance security, reduce costs, and enable innovation.
				That's why I aspire to leverage cloud offerings to increase the security, cost-effectiveness, and fluidity of business processes. If you're looking for a cloud expert who can deliver results with enthusiasm and professionalism, look no further than me!</p>
		</Card>
	</section>
	<section>
		<CTA title="Check Out My Work!" href="https://github.com/avonbied">
			Visit GitHub
			<Icon icon="arrow-right" size="1em" />
		</CTA>
	</section>
</Layout>

<style>
section {
	flex: 1 1 100%;
	display: flex;
	justify-content: center;
	padding: 0 4rem;
	overflow: auto;
}
</style>