<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Site Frame</title>
  <link rel="stylesheet" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/11.0.0/css/fabric.min.css" />
  <link rel="stylesheet" href="../test.css" />
  <link rel="stylesheet" href="styles/frame.css">
  <link rel="stylesheet" href="styles/site_frame.css">
</head>
<body>
<header id="site_head">
  <i class="ms-Icon ms-Icon--CollapseMenu">
  </i><h1>Title for Site</h1>
</header>
<main role="main">
  <header id="banner">
    <div class="text_content">
      <h1><span>Statement</span></h1>
      <h2><span>Line 1</span><br/><span>Line 2</span></h2>
    </div>
    <div role="img"></div>
  </header>
  <nav class="image_nav">
    <a class="image_button" href="#" title="About Me"><div role="img"></div>
    </a><a class="image_button" href="#" title="My Projects"><div role="img"></div>
    </a><a class="image_button" href="#" title="Other"><div role="img"></div>
    </a><a class="image_button" href="#" title="Contact Me"><div role="img"></div></a>
  </nav>
  <div class="filler_block"></div>
  <div class="filler_block"></div>
  <!-- <div class="filler_block"></div>
  <div class="filler_block"></div>
  <div class="filler_block"></div>
  <div class="filler_block"></div>
  <div class="filler_block"></div>
  <div class="filler_block"></div>
  <div class="filler_block"></div>
  <div class="filler_block"></div>
  <div class="filler_block"></div>
  <div class="filler_block"></div>
  <div class="filler_block"></div>
  <div class="filler_block"></div>
  <div class="filler_block"></div> -->
</main>
<footer id="site_foot">
  <small>&copy; 2020 Lex von Biedenfeld.</small>
  <small>Last updated <time datetime="1900-01-02">Jan 2, 1900</time>.</small>
</footer>
<style>
.filler_block {
  height: 100px;
}
</style>
</body>
</html>