---
export interface Props {
	imageName?: string;
	name?: string;
	position?: string;
}
const { imageName, name = 'Full Name', position = 'Position, Dept.' } = Astro.props;
---

<article>
	{ imageName ? <img class="bioImage" src={`/images/${imageName}`} /> : <div class="bioImage"></div> }
	<div class="contentCard">
		<header class="bioHead">
			<h2>{name}</h2>
			<h3>{position}</h3>
		</header>
		<div class="bioBody">
			<slot />
		</div>
	</div>
</article>

<style lang="scss">
$cardHeight: 430px;
article {
	display: flex;
	flex-flow: column wrap;
	// min-height: $cardHeight;
	margin-bottom: 16px;
	border-radius: 12px;
	padding: 16px;
	background-color: #fff;
	// box-shadow: 0 0 24px #fff;
	align-items: center;
	:global(*) {
		color: #000;
	}
	.bioImage {
		width: $cardHeight;
		height: $cardHeight;
	}
	.contentCard {
		width: 530px;
		.bioHead {
			* {
				line-height: 124.02%;
			}
			padding: 16px 8px;
			h2 {
				font-weight: 700;
				font-size: 40px;
			}
			h3 {
				font-weight: 500;
				font-size: 24px;
				color: #212121;
			}
		}
		.bioBody {
			padding: 4px 4px 8px;
			font-size: 20px;
		}
	}
	.cardContent {
		padding: 2px 8px;
		max-height: 24vh;
		overflow: hidden;
	}
}

@media (min-width: 50em) {
	article {
		flex-flow: row;
	}
}
</style>