---
import Icon from '@components/Icon.astro';

export interface Props {
	icon: string;
	title: string;
	description?: string;
}

const { icon, title, description = '' } = Astro.props;
---

<article>
	<header>
		<Icon icon={icon} size="2rem" />
		<h2>{title}</h2>
	</header>
	<p>{description}</p>
</article>

<style lang="scss">
$accentColor: #589597;
article {
	border: 1px solid #dedede;
	border-radius: 0.75rem;
	padding: 1rem;
	width: 464px;
	header {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		gap: 3rem;
		:global(img) {
			height: 2rem;
		}
		h2 {
			font-size: 24px;
			color: $accentColor;
		}
	}
}

@media (min-width: 50em) {
	article {
		width: 528px;
		header {
			gap: 1rem;
			:global(img) {
				height: 4rem;
			}
			h2 {
				font-size: 32px;
			}
		}
	}
}
</style>