.section {
    background-color: #ffffff;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
#site_head {
    position: sticky;
    top: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    justify-items: flex-start;
    align-items: center;
    /* padding: 0 12px; */
    box-shadow: 0 1px 2px #cdcdcd;
}
.nav_button, .nav_title {
    font-size: 24px;
    padding: 12px 24px 8px;
    background-color: inherit;
    transition: all ease-in 100ms;
}
.nav_button:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: whitesmoke;
}
#site_nav, .nav_title {
    display: inline-block;
}
.card {
    display: inline-flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: flex-start;
    box-shadow: rgba(0, 0, 0, 0.133) 0px 1.6px 3.6px 0px, rgba(0, 0, 0, 0.11) 0px 0.3px 0.9px 0px;
    border-radius: 4px;
    transition: box-shadow 0.5s ease 0s;
    overflow: hidden;
}
.card_section {
    overflow: auto;
    scrollbar-width: 8px;
    margin: 0;
    padding: 8px;
}
blockquote {
    position: relative;
    padding: 0.5em 20px;
}
blockquote::before, blockquote::after {
    position: absolute;
    font-size: 2em;
    /* display: inline; */
    width: fit-content;
    margin: 0 0.1em;
}
blockquote::before {
    top: 0.1em;
    left: 5px;
    content: open-quote;
}
blockquote::after {
    bottom: 2px;
    right:5px;
    content: close-quote;
}
.box {
    background-color: whitesmoke;
    width: 300px;
    height: 100px;
    margin: 30px;
}
/*======= END-FINAL =======*/

#banner {
    display: flex;
    padding: 10% 5% 5%;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-content: space-between;
    font-family: Arial, Verdana, sans-serif;
}
.text_content {
    color: white;
}
.text_content * {
    padding: 4px 12px;
    line-height: 1.5em;
}
.text_content span {
    background-color: #028090 /*rgba(0, 64, 128, 0.9)*/;
}
h1 {
    text-transform: uppercase;
}

#avatar {
    width: 250px;
    height: 250px;
    border-radius: 16px;
    overflow: hidden;
    background-color: aqua;
}



nav > button {
    font-size: 24px;
    padding: 12px 16px 8px;
    width: 72px;
    background-color: inherit;
    background: rgba(255,255,255,0.4);
}

nav > button:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

/* #copy { padding-left: 24em; text-align: center; } */
#site_foot {
    position: fixed;
    left: 0; bottom: 0;
    width: 100%;
    background: linear-gradient(#efefef, #ffffff);
    box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
    padding: 0.5% 0;
    display: flex; flex-direction: row;
    justify-content: center; align-items: center;
    font-weight: 600;
}
#site_foot > small { margin: 0 1%; }